:root {
  --c_text: #333333;
  --c_border: #DDDDDD;
  --c_bg: #222222;
  --c_mask: rgba(34, 34, 34, 0.6);
  --c_black: #000000;
  --c_gray: #555555;
  --c_white: #FFFFFF;
  --c_focus-ring: #3498db;
  --font_default:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    sans-serif;
  --font_mont:
    "Montserrat",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    sans-serif;
  --fz_10: calc((10 / 16) * 1rem);
  --fz_11: calc((11 / 16) * 1rem);
  --fz_12: calc((12 / 16) * 1rem);
  --fz_14: calc((14 / 16) * 1rem);
  --fz_16: calc((16 / 16) * 1rem);
  --fz_20: calc((20 / 16) * 1rem);
  --fz_24: calc((24 / 16) * 1rem);
  --fz_28: calc((28 / 16) * 1rem);
  --fz_56: calc((56 / 16) * 1rem);
}

/*----------------------------------------
	Reset CSS
  Source: https://cdn.jsdelivr.net/npm/css-wipe@4.3.0/index.css
----------------------------------------*/
* {
  box-sizing: border-box;
}

input[type=color]::-webkit-color-swatch {
  border: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

/*----------------------------------------
	Base
----------------------------------------*/
* {
  font-family: var(--font_default);
}

body {
  -webkit-text-size-adjust: 100%;
  color: var(--c_text);
  overflow-x: hidden;
  overflow-y: auto;
  text-size-adjust: 100%;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:focus-visible {
  border: 2px solid var(--c_focus-ring);
  outline: none;
}

img, svg {
  width: 100%;
  height: auto;
  vertical-align: top;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: var(--c_text);
  outline: none;
}

input:focus {
  box-shadow: 0 0 0 2px var(--c_focus-ring);
}

button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  display: block;
  padding: 0;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

button:focus-visible {
  box-shadow: 0 0 0 2px var(--c_focus-ring);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select:focus {
  box-shadow: 0 0 0 2px var(--c_focus-ring);
}

textarea {
  border-radius: 0;
  color: var(--c_text);
  outline: none;
  resize: vertical;
}

textarea:focus {
  box-shadow: 0 0 0 2px var(--c_focus-ring);
}

iframe {
  display: block;
  width: 100%;
  height: auto;
}

/*----------------------------------------
	margin-top
----------------------------------------*/
.u-mt0 {
  margin-top: 0 !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

.u-mt70 {
  margin-top: 70px !important;
}

.u-mt80 {
  margin-top: 80px !important;
}

.u-mt90 {
  margin-top: 90px !important;
}

.u-mt100 {
  margin-top: 100px !important;
}

/*----------------------------------------
	margin-right
----------------------------------------*/
.u-mr0 {
  margin-right: 0 !important;
}

.u-mr10 {
  margin-right: 10px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-mr30 {
  margin-right: 30px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

.u-mr50 {
  margin-right: 50px !important;
}

.u-mr60 {
  margin-right: 60px !important;
}

.u-mr70 {
  margin-right: 70px !important;
}

.u-mr80 {
  margin-right: 80px !important;
}

.u-mr90 {
  margin-right: 90px !important;
}

.u-mr100 {
  margin-right: 100px !important;
}

/*----------------------------------------
	margin-bottom
----------------------------------------*/
.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

.u-mb70 {
  margin-bottom: 70px !important;
}

.u-mb80 {
  margin-bottom: 80px !important;
}

.u-mb90 {
  margin-bottom: 90px !important;
}

.u-mb100 {
  margin-bottom: 100px !important;
}

/*----------------------------------------
	margin-left
----------------------------------------*/
.u-ml0 {
  margin-left: 0 !important;
}

.u-ml10 {
  margin-left: 10px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-ml30 {
  margin-left: 30px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}

.u-ml50 {
  margin-left: 50px !important;
}

.u-ml60 {
  margin-left: 60px !important;
}

.u-ml70 {
  margin-left: 70px !important;
}

.u-ml80 {
  margin-left: 80px !important;
}

.u-ml90 {
  margin-left: 90px !important;
}

.u-ml100 {
  margin-left: 100px !important;
}

/*----------------------------------------
	font-size
----------------------------------------*/
.u-fz10 {
  font-size: 0.625rem !important;
}

.u-fz12 {
  font-size: 0.75rem !important;
}

.u-fz14 {
  font-size: 0.875rem !important;
}

.u-fz16 {
  font-size: 1rem !important;
}

.u-fz18 {
  font-size: 1.125rem !important;
}

.u-fz24 {
  font-size: 1.5rem !important;
}

.u-fz32 {
  font-size: 2rem !important;
}

.u-fz56 {
  font-size: 3.5rem !important;
}

.u-fz72 {
  font-size: 4.5rem !important;
}

/*----------------------------------------
	c-btn
----------------------------------------*/
.c-btn {
  display: inline-block;
  width: 100%;
  max-width: 160px;
  padding: 1em;
  background: var(--c_black);
  color: var(--c_white);
  font-family: var(--font_mont);
  font-size: var(--fz_11);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .c-btn:hover {
    opacity: 0.7;
  }
}

/*----------------------------------------
	c-form
----------------------------------------*/
.c-form__item + .c-form__item {
  margin-top: 35px;
}

.c-form__title {
  font-weight: 700;
}

.c-form__title--mont {
  font-family: var(--font_mont);
}

.c-form__label {
  --c_bg: #333333;
  display: inline-block;
  margin-left: 10px;
  padding: 0.25em 0.4em;
  background: var(--c_bg);
  color: var(--c_white);
  font-size: var(--fz_12);
  font-weight: 500;
}

.c-form__input,
.c-form__textarea {
  display: inline-block;
  width: 100%;
  margin-top: 7px;
  padding: 16px 8px;
  border: 1px solid currentColor;
  font-size: 1rem;
}

.c-form__input {
  height: 48px;
}

.c-form__textarea {
  height: 210px;
  line-height: 1.5;
}

.c-form__radio-list {
  display: flex;
  flex-direction: column;
  width: 94.2028985507%;
  margin: 14px auto 0;
}

.c-form__radio-item + .c-form__radio-item {
  margin-top: 11px;
}

.c-form__radio {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid currentColor;
  border-radius: 50%;
}

.c-form__radio + span {
  display: inline-block;
  margin-left: 10px;
  font-size: var(--fz_14);
  font-weight: 500;
}

.c-form__radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  background: currentColor;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.c-form__policy-wrap {
  height: 226px;
  margin-top: 7px;
  padding: 10px;
  border: 1px solid currentColor;
  overflow-y: auto;
}

.c-form__policy {
  font-size: clamp(0.875rem, 0.7557251908rem + 0.5089058524vw, 1rem);
  line-height: 1.5;
  text-transform: uppercase;
}

.c-form__agree-wrap {
  margin-top: 35px;
}

.c-form__policy-wrap:focus {
  box-shadow: 0 0 0 2px var(--c_focus-ring);
}

.c-form__agree-wrap > label {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.c-form__agree {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid currentColor;
  cursor: pointer;
}

.c-form__agree:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.1em;
  left: 0.3em;
  width: 25%;
  height: 50%;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(50deg);
}

.c-form__agree + span {
  display: inline-block;
  margin-top: -0.25em;
  margin-left: 10px;
  font-size: clamp(0.875rem, 0.7557251908rem + 0.5089058524vw, 1rem);
  line-height: 1.5;
}

.c-form__btn-wrap {
  position: relative;
  margin-top: 40px;
  text-align: center;
}

.c-form__btn {
  display: inline-block;
  width: 100%;
  max-width: 160px;
  padding: 11px;
  background: var(--c_black);
  color: var(--c_gray);
  font-size: var(--fz_14);
  font-weight: 700;
  pointer-events: none;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.c-form__btn.is-active {
  color: var(--c_white);
  pointer-events: auto;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .c-form__btn.is-active:hover {
    opacity: 0.7;
  }
}

.c-form__btn.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.c-form__end-message {
  --c_text: #AFA86F;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  color: var(--c_text);
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.c-form__end-message.is-active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .c-form__radio-list {
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
  }
  .c-form__radio-item + .c-form__radio-item {
    margin-top: 0;
    margin-left: 50px;
  }
}
/*----------------------------------------
	c-hamburger
----------------------------------------*/
.c-hamburger {
  display: flex;
  align-items: center;
  color: var(--c_white);
  font-size: var(--fz_10);
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .c-hamburger:hover {
    opacity: 0.7;
  }
}

.c-hamburger[aria-expanded=true] .c-hamburger__line {
  background: transparent;
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::after {
  transform: rotate(30deg);
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::before {
  transform: rotate(-30deg);
}

.c-hamburger__line {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 2px;
  background: currentColor;
  border-radius: 1em;
  transition: 0.3s;
}

.c-hamburger__line::before,
.c-hamburger__line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 2px;
  background: currentColor;
  border-radius: 1em;
  transition: 0.3s;
}

.c-hamburger__line::before {
  transform: translateY(-5px);
}

.c-hamburger__line::after {
  transform: translateY(5px);
}

.c-hamburger__text {
  margin-left: 0.7em;
  font-family: var(--font_mont);
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.3s;
}

/*----------------------------------------
	c-heading-lv2
----------------------------------------*/
.c-heading-lv2 {
  font-family: var(--font_mont);
  font-size: clamp(1.75rem, 1.5114503817rem + 1.0178117048vw, 2rem);
  font-weight: 800;
  letter-spacing: 0.068em;
  text-transform: uppercase;
}

/*----------------------------------------
	c-logo
----------------------------------------*/
.c-logo {
  color: var(--c_white);
}

.c-logo__link {
  display: block;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .c-logo__link:hover {
    opacity: 0.7;
  }
}

.c-logo__img {
  aspect-ratio: 260/28;
  transition: 0.3s;
}

/*----------------------------------------
	c-menu
----------------------------------------*/
.c-menu {
  background: var(--c_mask);
  text-align: center;
  transition: 0.3s;
}

.c-menu__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 40px;
  margin-left: auto;
  background: var(--c_bg);
  overflow-y: auto;
}

.c-menu__link {
  color: var(--c_white);
  font-family: var(--font_mont);
  font-size: var(--fz_20);
  font-weight: 800;
  letter-spacing: 0.068em;
  text-transform: uppercase;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .c-menu__link:hover {
    opacity: 0.7;
  }
}

.c-menu__img {
  width: 42px;
}

@media (min-width: 768px) {
  .c-menu__list {
    max-width: 520px;
  }
}
/*----------------------------------------
	c-table
----------------------------------------*/
.c-table {
  border-top: 1px solid var(--c_border);
}

.c-table__inner {
  width: 100%;
  max-width: 678px;
  margin-left: auto;
}

.c-table__header,
.c-table__text {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--c_border);
  font-size: clamp(0.875rem, 0.7557251908rem + 0.5089058524vw, 1rem);
  line-height: 1.5;
  text-transform: uppercase;
}

.c-table__header {
  width: 47.2463768116%;
  font-weight: 700;
  text-align: left;
  vertical-align: middle;
}

.c-table__text {
  font-weight: 500;
}

@media (min-width: 992px) {
  .c-table__inner {
    max-width: 800px;
  }
}
/*----------------------------------------
	p-about
----------------------------------------*/
.p-about {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-about__inner {
  --c_bg: rgba(255, 255, 255, 0.95);
  width: 92%;
  max-width: 590px;
  margin: 0 auto;
  padding: 50px 15px;
  background: var(--c_bg);
}

.p-about__text {
  margin-top: 30px;
  font-size: clamp(0.875rem, 0.7557251908rem + 0.5089058524vw, 1rem);
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
}

.p-about__btn {
  margin-top: 25px;
}

.p-about__img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.p-about__img {
  height: 100%;
  object-fit: cover;
}

@media (min-width: 992px) {
  .p-about__inner {
    margin-left: 50px;
  }
}
/*----------------------------------------
	p-card
----------------------------------------*/
.p-card {
  display: grid;
  gap: 30px;
}

.p-card__text {
  margin-top: -5px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

.p-card__btn {
  margin-top: -3px;
}

.p-card__img {
  height: 100%;
  object-fit: cover;
}

/*----------------------------------------
	p-ceo-message
----------------------------------------*/
.p-ceo-message__img-wrap {
  width: 340px;
  margin-right: auto;
}

.p-ceo-message__body {
  --c_bg: #F0F0F0;
  width: 92%;
  max-width: 494px;
  margin: -100px auto 0;
  padding: 125px 28px 80px;
  background: var(--c_bg);
}

.p-ceo-message__text-wrap {
  margin-top: 30px;
}

.p-ceo-message__text {
  font-size: clamp(0.875rem, 0.7557251908rem + 0.5089058524vw, 1rem);
  font-weight: 700;
  line-height: 2;
}

@media (min-width: 768px) {
  .p-ceo-message__inner {
    width: 708px;
    margin: 0 auto;
  }
  .p-ceo-message__body {
    margin-top: -85px;
    margin-right: 0;
    padding: 109px 40px 80px;
  }
}
@media (min-width: 992px) {
  .p-ceo-message__inner {
    width: 76.3888888889%;
    max-width: 1100px;
  }
  .p-ceo-message__body {
    max-width: 770px;
    margin-top: -85px;
    padding: 120px 185px 90px;
  }
  .p-ceo-message__img-wrap {
    width: 420px;
  }
}
/*----------------------------------------
	p-company
----------------------------------------*/
.p-company__inner {
  width: 92%;
  max-width: 1100px;
  margin: 0 auto;
}

.p-company__table {
  margin-top: 30px;
}

.p-company__map-wrap {
  margin-top: 34px;
}

.p-company__map {
  aspect-ratio: 345/470;
}

@media (min-width: 768px) {
  .p-company__map {
    aspect-ratio: 708/230;
  }
}
/*----------------------------------------
	p-contact
----------------------------------------*/
.p-contact {
  --c_bg: #F2F2F2;
  padding: 40px 0;
  background: var(--c_bg);
}

.p-contact__inner {
  display: flex;
  flex-direction: column-reverse;
  width: 92%;
  max-width: 520px;
  margin: 0 auto;
}

.p-contact__body {
  margin-top: 30px;
}

.p-contact__text {
  margin-top: 30px;
  font-weight: 500;
  line-height: 2;
}

.p-contact__btn {
  margin-top: 28px;
}

@media (min-width: 992px) {
  .p-contact__inner {
    flex-direction: row;
    align-items: center;
    width: 76.3888888889%;
    max-width: 1100px;
  }
  .p-contact__body {
    width: 40%;
    margin-top: 0;
    margin-right: 7.2727272727%;
  }
  .p-contact__img-wrap {
    width: 52.7272727273%;
  }
}
/*----------------------------------------
	p-first-view
----------------------------------------*/
.p-first-view {
  position: relative;
}

.p-first-view__title-wrap {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 173px;
  left: 50%;
  width: 89.3333333333%;
  transform: translateX(-50%);
}

.p-first-view__title {
  display: inline-block;
  color: var(--c_white);
  letter-spacing: 0.063em;
  text-transform: uppercase;
}

.p-first-view__title-sub:last-of-type {
  margin-bottom: 12px;
}

.p-first-view__title-main {
  font-family: var(--font_mont);
  font-size: var(--fz_56);
  font-weight: 800;
}

.p-first-view__title-sub {
  margin-bottom: 5px;
  font-family: var(--font_mont);
  font-weight: 700;
}

.p-first-view__img-wrap {
  width: 76.5333333333%;
}

.p-first-view__img-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 75.4666666667%;
  height: 667px;
  background: var(--c_bg);
  z-index: -1;
}

.p-first-view__img {
  height: 580px;
  object-fit: cover;
  object-position: center top;
}

@media (min-width: 768px) {
  .p-first-view__title-wrap {
    width: 79.1666666667%;
  }
  .p-first-view__title-main {
    font-size: clamp(3.5rem, 0.0714285714rem + 7.1428571429vw, 4.5rem);
  }
  .p-first-view__title-sub {
    font-size: clamp(1rem, 0.1428571429rem + 1.7857142857vw, 1.25rem);
  }
  .p-first-view__img-wrap {
    width: 78.125%;
  }
  .p-first-view__img-wrap::before {
    width: 73.1770833333%;
  }
}
@media (min-width: 992px) {
  .p-first-view__title-wrap {
    top: 156px;
    width: 73.0555555556%;
    max-width: 1052px;
  }
  .p-first-view__img-wrap {
    width: 76.3888888889%;
  }
  .p-first-view__img-wrap::before {
    width: 54.1666666667%;
    height: 740px;
  }
  .p-first-view__img {
    height: 640px;
  }
}
.p-first-view--sub .p-first-view__title-wrap {
  top: 140px;
}

.p-first-view--sub .p-first-view__title-sub {
  margin-top: 5px;
  margin-bottom: 0;
}

.p-first-view--sub .p-first-view__img-wrap::before {
  height: 449px;
}

.p-first-view--sub .p-first-view__img {
  height: 387px;
}

/*----------------------------------------
	p-topics
----------------------------------------*/
.p-topics {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-topics__inner {
  width: 92%;
  margin: 0 auto;
}

.p-topics__list {
  margin-top: 10px;
}

.p-topics__item {
  border-bottom: 1px solid var(--c_border);
  font-weight: 700;
}

.p-topics__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 8px;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .p-topics__link:hover {
    opacity: 0.7;
  }
}

.p-topics__date {
  --c_text: #CECECE;
  color: var(--c_text);
  font-size: var(--fz_10);
}

.p-topics__text {
  margin-top: 7px;
  font-size: clamp(0.75rem, 0.6307251908rem + 0.5089058524vw, 0.875rem);
  line-height: 1.4;
}

.p-topics__btn-wrap {
  margin-top: 35px;
}

@media (min-width: 992px) {
  .p-topics__inner {
    width: 76.3888888889%;
    max-width: 1100px;
  }
  .p-topics__list {
    max-width: 700px;
    margin-left: auto;
  }
  .p-topics__btn-wrap {
    text-align: right;
  }
}
/*----------------------------------------
	p-vision
----------------------------------------*/
.p-vision__inner {
  width: 92%;
  max-width: 468px;
  margin: 0 auto;
}

.p-vision__title-sub {
  margin-top: 30px;
  font-size: var(--fz_24);
  font-weight: 700;
}

.p-vision__text-wrap {
  margin-top: 31px;
}

.p-vision__text {
  font-size: var(--fz_14);
  font-weight: 700;
  line-height: 2;
}

@media (min-width: 768px) {
  .p-vision__text {
    font-size: clamp(0.875rem, 0.4464285714rem + 0.8928571429vw, 1rem);
  }
}
@media (min-width: 992px) {
  .p-vision__inner {
    max-width: 648px;
  }
}
/*----------------------------------------
	p-front-page
----------------------------------------*/
.p-front-page__about {
  margin: 165px auto 0;
}

.p-front-page__cards {
  --c_bg: #F0F0F0;
  display: grid;
  gap: 40px;
  padding: 40px 0;
  background: var(--c_bg);
}

.p-front-page__card {
  width: 92%;
  max-width: 520px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .p-front-page__about {
    margin-top: 220px;
  }
  .p-front-page__cards {
    gap: 60px;
    padding: 60px 0;
  }
}
@media (min-width: 992px) {
  .p-front-page__about {
    position: relative;
    width: 76.3888888889%;
    max-width: 1100px;
    margin-bottom: -100px;
    z-index: 1;
  }
  .p-front-page__cards {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    padding: 180px 11.8055555556% 60px;
  }
  .p-front-page__card {
    grid-row: span 4;
    grid-template-rows: subgrid;
    width: auto;
    margin: 0;
  }
}
/*----------------------------------------
	p-page-about
----------------------------------------*/
.p-page-about__vision {
  margin-top: 142px;
}

.p-page-about__ceo-message {
  margin-top: 80px;
}

.p-page-about__company {
  margin-top: 80px;
}

.p-page-about > *:last-child {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .p-page-about__vision {
    margin-top: 166px;
  }
}
@media (min-width: 992px) {
  .p-page-about__vision {
    margin-top: 197px;
  }
  .p-page-about__ceo-message {
    margin-top: 120px;
  }
  .p-page-about > *:last-child {
    margin-bottom: 120px;
  }
}
/*----------------------------------------
	p-page-contact
----------------------------------------*/
.p-page-contact__text-wrap {
  width: 92%;
  margin: 175px auto 0;
}

.p-page-contact__text {
  font-size: clamp(0.875rem, 0.7557251908rem + 0.5089058524vw, 1rem);
  line-height: 1.5;
}

.p-page-contact__form {
  width: 92%;
  margin: 40px auto 0;
}

.p-page-contact > *:last-child {
  margin-bottom: 84px;
}

@media (min-width: 768px) {
  .p-page-contact__text-wrap {
    width: 86.9791666667%;
    max-width: 700px;
  }
  .p-page-contact__form {
    width: 86.9791666667%;
    max-width: 700px;
  }
  .p-page-contact > *:last-child {
    margin-bottom: 120px;
  }
}
@media (min-width: 992px) {
  .p-page-contact__text-wrap {
    margin-top: 184px;
  }
}
/*----------------------------------------
	l-header
----------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  transition: 0.3s;
  z-index: 998;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
}

.l-header__logo {
  flex-shrink: 0;
  width: 189px;
  height: 21px;
}

.l-header__hamburger {
  position: relative;
  z-index: 999;
}

.l-header__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
}

.l-header__menu[aria-hidden=false] {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 992px) {
  .l-header__inner {
    width: 91.9444444444%;
    max-width: 1324px;
  }
  .l-header__logo {
    width: 260px;
    height: 28px;
  }
}
.l-header.is-sticky {
  background: var(--c_white);
}

.l-header.is-sticky .l-header__logo,
.l-header.is-sticky .l-header__hamburger[aria-expanded=false] {
  color: var(--c_text);
}

/*----------------------------------------
	l-footer
----------------------------------------*/
.l-footer {
  --c_bg: #525252;
  background: var(--c_bg);
}

.l-footer__inner {
  padding: 19px 0;
  text-align: center;
}

.l-footer__copyright {
  color: var(--c_white);
  font-family: var(--font_mont);
  font-size: var(--fz_10);
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
