@use "../../foundation/forward" as fwd;

/*----------------------------------------
	c-btn
----------------------------------------*/
.c-btn {
  display: inline-block;
  width: 100%;
  max-width: 160px;
  padding: 1em;
  background: var(--c_black);
  color: var(--c_white);
  font-family: var(--font_mont);
  font-size: var(--fz_11);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  @include fwd.hover-opacity(); // ホバーアニメーション
}