/*----------------------------------------
	font-size
----------------------------------------*/
.u-fz10 {font-size: calc((10 / 16) * 1rem) !important;}
.u-fz12 {font-size: calc((12 / 16) * 1rem) !important;}
.u-fz14 {font-size: calc((14 / 16) * 1rem) !important;}
.u-fz16 {font-size: calc((16 / 16) * 1rem) !important;}
.u-fz18 {font-size: calc((18 / 16) * 1rem) !important;}
.u-fz24 {font-size: calc((24 / 16) * 1rem) !important;}
.u-fz32 {font-size: calc((32 / 16) * 1rem) !important;}
.u-fz56 {font-size: calc((56 / 16) * 1rem) !important;}
.u-fz72 {font-size: calc((72 / 16) * 1rem) !important;}
