@use "../../foundation/forward" as fwd;

/*----------------------------------------
	p-company
----------------------------------------*/
.p-company__inner {
  width: calc((345 / 375) * 100%);
  max-width: 1100px;
  margin: 0 auto;
}

.p-company__table {
  margin-top: 30px;
}

.p-company__map-wrap {
  margin-top: 34px;
}

.p-company__map {
  aspect-ratio: 345 / 470;
}

@media (min-width: 768px) {
  .p-company__map {
    aspect-ratio: 708 / 230;
  }
}
