///
/// @mixin hover-opacity
/// 
/// リンク要素にホバー時の透過エフェクトを適用する。
/// 
/// Note: フォーカス時も適用する。
///
/// @param {Number} $opacity - 不透明度
/// @param {Time} $transition - トランジション継続時間
/// 
@mixin hover-opacity($opacity: 0.7, $transition: 0.3s) {
  transition: $transition;
  &:focus-visible, &:hover {
    opacity: $opacity;
  }
}
